{% extends 'base.html' %}
{% block title %}Caliper | Compare{% endblock title%}
{% block link %}
<link href="/static/css/chosen.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form class="form-horizontal" method="POST" action="/compare">
<div><input type="hidden" name="platforms" value="{{ platforms }}"> </div>
    <div class="row">
    {% csrf_token %}
        {% for platform in platform_dicts %}
        <div class="col-lg-4">
            <div class="form-group">
                <label class="font-noraml">{{platform.name}}</label>
                <div class="input-group">
                    <select name="{{platform.name}}" data-placeholder="Choose some platforms..." class="chosen-select"  style="width:350px;" >
                        {% for d in platform.date %}
                        <option value="{{d|date:'Y-m-d H:i:s.u'}}">{{d|date:"Y-m-d H:i:s"}}</option>
                        {% endfor %}
                    </select>
                </div>   
            </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <div class="form-group">
                <button type="submit" class="btn btn-w-m btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</form>
{% endblock content%}

{% block script %}
<script src="/static/js/chosen.jquery.js"></script>
<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}