{% extends 'base.html' %}
{% block title %}Caliper | Compare{% endblock title%}
{% block link %}
<link href="/static/css/chosen.css" rel="stylesheet">
{% endblock %}

{% block content %}

<form class="form-horizontal" method="POST" action="/compare">
    <div class="row">
    {% csrf_token %}
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-sm-2 control-label">Platform:</label>
                <div class="col-sm-10">
                    <select id="platform_multi_select" name="platform_multi_select" data-placeholder="Choose some platforms..." class="chosen-select col-sm-10" multiple  tabindex="4">
                        {% for tab in tasks %}
                        <option value="{{tab.name}}">{{tab.name}}</option>
                        {% endfor %}
                    </select>
                </div>   
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <button type="submit" class="btn btn-w-m btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</form>

{% endblock content%}

{% block script %}
<script src="/static/js/chosen.jquery.js"></script>
<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}