{% extends 'base.html' %}
{% block title %}Caliper | Test Task{% endblock title%}

{% block content %}
<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
        <th>Version</th>
        <th>Platform</th>
        <th>Target</th>
        <th>OS_Version</th>
        <th>User</th>
        <th>DateTime</th>
        <th>View</th>
        <th>Download</th>
        <th>Delete</th>
    </thead>
    <tbody>
            {% for tab in tasks %}
            <tr>
                <td></td>
                <td>{{tab.name}}</td>
                <td></td>
                <td>{{tab.configuration.OS_Version}}</td>
                <td></td>
                <td></td>
                <td>{% ifequal tab.output_path '' %}<i class="fa fa-search" aria-hidden="true"></i>
                {% else %}<a href="/task/{{tab.id}}" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>{% endifequal %}</td>
                <td>{% ifequal tab.output_path '' %}<i class="fa fa-download" aria-hidden="true"></i>
                {% else %}<a href="downloadresult/{{tab.output_path}}"><i class="fa fa-download" aria-hidden="true"></i></a>{% endifequal %}</td>
                <td></td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock content%}
{% block script %}
<script>
    $(function(){
        $('.dataTables-example').DataTable({
        "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 6,7 ] }]
        });
    })
</script>
{% endblock %}