{% extends 'newbase.html' %}
{% block title %}Caliper | Result{% endblock title %}
{% block link %}

{% endblock %}

{% block content %}
    <div class="container">
        <input type="hidden" id="cfg" value="{{ configuration }}">
        <div class="row">
            <h2>Overall Information</h2>
            <table class="table table-bordered" id="config">
                <thead>
                <tr>
                    <th>Platform</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ name }}</td>
                </tr>
                </tbody>
            </table>
            <h2>Testtool Description</h2>
            <p>
                {% for tool in tools %}
                    {% if "cachebench"  in tool.toolName %}
                        <a href="Cachebench"><b>Cachebench</b></a> : CacheBench is a benchmark designed to evaluate the
                        performance of the memory hierarchy.<br>
                        Test cases executed by this tool: bandwidth<br><br>
                    {% endif %}
                    {% if "compile"|lower  in tool.toolName %}
                        <a href="Compile"><b>Compile</b></a>: Compiling a kernel in multiple threads can evaluate the
                        multi
                        core/multi threading capability of the system.This can be used to measure how well the platform
                        is
                        scaling with respect to the number of cores (equivalent to the number threads of compilation)
                        <br>
                        Test cases executed by this tool: kernel-dev_# <br><br>
                    {% endif %}
                    {% if "coremark"|lower  in tool.toolName %}
                        <a href="Coremark"><b>Coremark</b></a>: CoreMark is a benchmark that aims to measure the
                        performance
                        of
                        central processing units (CPU) used in embedded systems<br><br>
                    {% endif %}
                    {% if "dhrystone"|lower  in tool.toolName %}
                        <a href="Dhrystone"><b>Dhrystone</b></a>: Dhrystone is a synthetic computing benchmark program
                        developed
                        in 1984 by Reinhold P. Weicker intended to be representative of system (integer) programming<br>
                        <br>
                    {% endif %}
                    {% if "fio"|lower  in tool.toolName %}
                        <a href="Fio"><b>Fio</b></a>: This is the most powerful IO benchmarking tool available today
                        which
                        is
                        very flexible to create various io workloads and to execute them. <br>
                        Test cases executed by this tool: bandwidth and iops<br><br>
                    {% endif %}
                    {% if "hadoop"|lower  in tool.toolName %}
                        <a href="Hadoop"><b>Hadoop</b></a>: Hibench measures the common hadoop performance parameters
                        like
                        <b>HadoopTerasort,
                            HadoopWordcount, HadoopBayes, HadoopKmeans, HadoopSort, HadoopDfsioe</b> etc. <br><br>
                    {% endif %}
                    {% if "iozone"|lower  in tool.toolName %}
                        <a href="Iozone"><b>Iozone</b></a>: This is a filesystem benchmark tool. The benchmark tests file I/O
                        performance for the following operations.
                        <b> Read, write, re-read, re-write, read backwards, read
                            strided, fread, fwrite, random read/write etc </b> <br>
                        Test cases executed by this tool:Iozone-Cached and Iozone-DirectIO<br><br>
                    {% endif %}
                    {% if "linpack"|lower  in tool.toolName %}
                        <a href="Linpack"><b>Linpack</b></a>: LINPACK is a collection of Fortran subroutines that analyze and
                        solve
                        linear equations and linear least-squares problems.<br><br>
                    {% endif %}
                    {% if "lmbench"|lower  in tool.toolName %}
                        <a href="Lmbench"><b>Lmbench</b></a> : lmbench is a series of micro benchmarks intended to measure
                        basic
                        operating system and hardware system metrics.<br>
                        Test cases executed by this tool: local_speed, lb_bw_stream_v#, lb_bw_cross_#_core,
                        lb_bw_local_#_core,
                        lb_lat_cross_#_core, lb_lat_local_#_core<br><br>
                    {% endif %}
                    {% if "nbench"|lower  in tool.toolName %}
                        <a href="Nbench"><b>Nbench</b></a>: NBench is a synthetic computing benchmark program developed in
                        the
                        mid-1990s, intended to measure a computer's CPU, FPU, and Memory System speed.<br><br>
                    {% endif %}
                    {% if "openblas"|lower  in tool.toolName %}
                        <a href="Openblas"><b>Openblas</b></a>: This tool is a set of low-level routines for performing common
                        linear
                        algebra operations such as vector addition, scalar multiplication, dot products, linear
                        combinations,
                        and matrix multiplication<br>
                        Test cases executed by this tool: openblas_value_#_cores and openblas_efficiency_#_cores <br>
                        <br>
                    {% endif %}

                    {% if "openssl"|lower  in tool.toolName %}
                        <a href="Openssl"><b>Openssl</b></a>: OpenSSL is a cryptography toolkit implementing the Secure
                        Sockets
                        Layer
                        ( SSL v2/v3) and Transport Layer Security ( TLS v1) network protocols and related cryptography
                        standards
                        required by them.<br>
                        All the test cases described here has been executed by openssl tool (except unzip test case).
                        <br>
                        <br>
                    {% endif %}
                    {% if "scimark"|lower  in tool.toolName %}
                        <a href="Scimark"><b>Scimark</b></a>: Measure sthe CPU performance.<br><br>
                    {% endif %}
                    {% if "scimarkjava"|lower  in tool.toolName %}
                        <a href="ScimarkJava"><b>ScimarkJava</b></a>: Uses SciMark2 to evaluates the Java performance for scientific and
                        numerical
                        computing.It consists of five computational kernels: <b>FFT, Gauss-Seidel relaxation, Sparse
                        matrix-multiply, Monte Carlo integration, and dense LU factorization</b>.Reports a composite
                        score
                        in
                        approximate <b>Mflops (Millions of floating point operations per second)</b>.<br><br>
                    {% endif %}
                    {% if "stress-ng"|lower  in tool.toolName %}
                        <a href="#"><b>Stress-ng</b></a>: Measure sthe CPU performance by running some CPU intensive
                        routines.<br><br>
                    {% endif %}
                    {% if "sysbench"|lower  in tool.toolName %}
                        <a href="Sysbench"><b>Sysbench</b></a>: sysbench oltp benchmark evaluate the database performance.<br>
                        Test cases executed by this tool: max, avg, min and percentile<br><br>
                    {% endif %}
                    {% if "tinymembench"|lower  in tool.toolName %}
                        <a href="Tinymembench"><b>Tinymembench</b></a>: This is a simple memory benchmark program, which tries to
                        measure
                        the peak bandwidth of sequential memory accesses and the latency of random memory accesses.<br>
                        Test cases executed by this tool: Tiny latency and Tiny bandwidth
                        <br><br>
                    {% endif %}
                    {% if "unixbench"|lower  in tool.toolName %}
                        <a href="Unixbench"><b>Unixbench</b></a>: A system benchmark which test the performance of CPU and
                        memory.
                        <br>
                        Test cases executed by this tool:multicore_unixbench<br><br>
                    {% endif %}
                    {% if "unzip"|lower  in tool.toolName %}
                        <a href="Unzip"><b>Unzip</b></a>: This tool is to measure the time required to extract the tar.gz
                        file.<br><br>
                    {% endif %}
                    {% if "nginx"|lower  in tool.toolName %}
                        <a href="Nginx"><b>Nginx</b></a>: Nginx tool is mainly used to measure the web server performance.
                        <br>
                        Test cases executed by this tool: nginx_32_core_local_wrps, nginx_32_core_cross_wrps and
                        nginx_64_core_wrps<br><br>
                    {% endif %}
                    {% if "redis"|lower  in tool.toolName %}
                        <a href="Redis"><b>Redis</b></a>: Redis tool evaluate the performance of database. Redis works with
                        an
                        in-memory dataset.<br>
                        Test cases executed by this tool: redis_Instance_#<br><br>
                    {% endif %}
                    {% if "netperf"|lower  in tool.toolName %}
                        <a href="Netperf"><b>Netperf</b></a> : Netperf is a benchmark that can be used to measure various
                        aspects
                        of
                        networking performance. <br>
                        Test cases executed by this tool: TCP_RR, TCP_stream_r, TCP_CRR, TCP_stream and UDP_RR<br><br>
                    {% endif %}
                    {% if "iperf"|lower  in tool.toolName %}

                        <a href="Iperf"><b>Iperf </b></a>: Iperf is a commonly-used network testing tool that can create
                        Transmission Control Protocol (TCP) and User Datagram Protocol (UDP). <br>
                        Test cases executed by this tool: TCP_s#_RX and TCP_s#_TX<br><br>
                    {% endif %}
                    {% if "qperf"|lower  in tool.toolName %}

                        <a href="Qperf"><b>Qperf</b></a>: qperf measures bandwidth and latency between two nodes. It can
                        work
                        over
                        TCP/IP as well as the RDMA transports.<br>
                        Test cases executed by this tool: TCP_bw_#B and TCP_lat_#B <br><br>
                    {% endif %}
                {% endfor %}

            </p>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var cfg = $("#cfg").val();
        var cfgobj = eval('(' + cfg + ')');
        console.log(cfgobj);
        var ths = [];
        for (var key in cfgobj) {
            $("#config thead tr").append("<th>" + key + "</th>");
            $("#config tbody tr").append("<td>" + cfgobj[key] + "</td>");
        }
        console.log(ths);
    </script>
{% endblock %}